.App {
  text-align: center;
  background: #080357;
  height: 100vh;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 15px;
  color: #FFC15E;
  overflow: hidden;
}

.App-header {
  padding: 20px;
  font-size: 8vmin;
}

.App-button {
  color: #080357;
  background: #FFC15E;
  height: 50px;
  width: auto;
  border: none;
  border-radius: 3px;
  font-size: medium;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

.App-button:hover {
  background: #FF9F1C;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
  z-index: 1;
}

.fade-leav.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}

@media only screen
and (max-width: 500px) {

  .App {
    padding: 0;
    overflow: auto;
  }

}
