.App {
  text-align: center;
  background: #080357;
  min-height: 100vh;
  font-size: 16px;
}

.App-header {
  padding: 20px;
  color: #FFC15E;
  font-size: 8vmin;
}

.App-button {
  color: #080357;
  background: #FFC15E;
  height: 50px;
  width: auto;
  border: 3px solid #FFC15E;
  border-radius: 3px;
  font-size: medium;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

.App-button:hover {
  background: #FF9F1C;
}
